.client-info-container {
    width: 900px;
    margin: 40px auto 0;
    display: inline-block;
    float: right;
}

.client-info-primary {
    width: 350px;
    background-color: #e4e3e3;
    height: 600px;
    display: block;
    float: left;
    overflow: scroll;
}

.client-info-secondary {
    width: 500px;
    background-color: #e4e3e3;
    height: 600px;
    display: block;
    float: right;
}