.client-form-container {
    width: 900px;
    margin: 40px auto 0;
    display: block;
    float: right;
}

.client-form-submit-button button {
    border: 0;
    background-color: #000;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    font-family: Titillium Web,sans-serif;
}